@import "bootstrap-sprockets";
@import "bootstrap";


/* header */
#header {
	padding-left: 30px;
	color: white;

	li {
		display: inline;
		margin-left: 20px;
	}

	a {
		text-decoration: none;
	}
}
.header {
	background-color: black;
}

ul {
	display: inline;	
}

/* footer */