<nav>
  <ul>
      <li><a href="#">Sign up</a></li>
      <li><a href="#">Log in</a></li>
  </ul>
</nav>

<!-- ALL JOKES -->
<div>
  <h1>RANDOM JOKES:</h1>
  <% @jokes.each do |joke| %>
    <%= joke.joke_posts %><br>
  <% end %>


</div>