<nav>
  <ul>
      <li><a href="#">Jokes</a></li>
      <li><a href="#">My Yolks</a></li>
      <li><a href="#">Log out</a></li>
  </ul>
</nav>

<!-- ALL JOKES -->
<div>
  <p>RANDOM JOKES:</p>
  <% @jokes.sample do |joke| %>
    <%= joke.joke_posts %>
  <% end %>


</div>